<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="user-form-devise">
<%=  image_tag current_user.picture(:medium) %>
<br />
<%= @user.name %>
<br />
<%= @user.phone %>
<br />
<%= @user.birthday %>
    </div>
  </div>
</div>